
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */


body{
    font-family: "Inter", sans-serif;
}
.btn-primary{
    padding: 12px 16px;
    border-radius: 5px;
    color: white;
    background-color: rgba(70, 145, 101, 1);
    border: none;
    width: 150px;
    height: 44px;
}

/* Navbar Style */

.nav-logo img{
    width: 140px;
    height: 60px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}


.menu-items ul{
    display: flex;


}
.menu-items > ul{
    justify-content: space-between;

}
.menu-items-list{
    display: flex;
    gap: 32px;
}

.menu-items > ul > li{
    text-decoration: none;
    list-style-type: none;
}

/* Banner Section Start Here */

.banner-container{
    background: url(../assets/hero-bg.png);
    width: 2042px;
    height: 880px;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-container-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner-top-btn{
    display: flex;
    justify-content: center;
    gap: 6px;
    color: #30B868;
    margin-top: 140px;
    font-size: 16px;
    font-weight: 500;
    width: 230px;
    height: 35px;
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;
    border: none;

}

.banner-txt{
    font-size: 72px;
    font-weight: 700;
    margin: 16px 630px;
}

#txt-white{
    color: rgba(255, 255, 255, 1);
}

#txt-green{
    color: rgba(48, 184, 104, 1);
}

.banner-description{
    color: rgba(255, 255, 255, 1);
    opacity: 75%;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

.banner-btn-container{
    display: flex;
    gap: 16px;
    margin-top: 32px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    padding: 16px 12px;
    border-radius: 5px;
    color: white;
    background-color: rgba(70, 145, 101, 1);
    border: none;
    width: 250px;
    height: 50px;
}

.banner-ply-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 16px 12px;
    width: 200px;
    height: 50px;
    background: none;
    font-size: 16px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
}

/* Note Section Container Start Here */

.note-section-container{
        display: flex;
        flex-direction: column;
        margin-top: 16px;
}

.note-section-heading h1{
    font-size: 48px;
    font-style: bold;
    font-weight: 700;
    line-height: 58px;
    text-align: center;

}

.note-section-heading p{
    color: #627382;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 44px;
}
.card-box-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 120px;
}

.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 322px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;

}

.card-box >img{
    margin: 55px 130px 16px 130px;
    padding: 12px;
    width: 32px;
    height: 32px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
}

.card-box h3{
    margin-top: 0px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.card-box> p{
    color: #627382;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 7px;
}

/* Second Brain Container Start Here */

.second-brain-container{
    display: flex;
    justify-content: center;
    margin: 120px;
}

.brain-container-txt{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

#brain-title{
    color: #30B868;
    margin-top: 100px;
}

.brain-container-txt h1{
    font-size: 48px;
    font-weight: 700;
}

#brain-description{
    color: #627382;
    margin: 16 auto;
}

.brain-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 120px;
}

.brain-list li{
    display: flex;
    gap: 6px;
}

.brain-list li img{
    margin-right: 10px;
}

/* Early Access Section Start Here */

.early-access-container{
    background-color: #F7F6F2;
    width: 1360px;
    height: 384px;
    border-radius: 12px;
    margin: 120px;
    display: flex;
    flex-direction: column;
}

.early-title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
}
.early-description{
    color: #627382;
    font-size: 16px;
    text-align: center;
}

.early-access-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    padding: 16px 12px;
    border-radius: 5px;
    color: white;
    background-color: rgba(70, 145, 101, 1);
    border: none;
    width: 195px;
    height: 52px;
    align-items: center;
}

.early-last-description{
    color: #627382;
    font-size: 16px;
    text-align: center;
}

#early-btn-container{
    display: flex;
    justify-content: center;
}

/* Footer Section Here */

.footer-container{
    background-color: #001931;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.footer-logo-link{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(229, 231, 235, 1);
}

#social-links{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.copyright-description{
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}


